<% provide(:title,@genre.parent + " | " + @genre.subtype) %>
<h1><%= @genre.parent %></h1>
<ul>
    <% @genres.each do |t| %>
	<% if @genre.parent == t.parent %>
	    <li><%= link_to t.subtype , "/scores/" + t.id.to_s %></li>
	<% end %>
    <% end %>
</ul>
<div >
<h1>Score for <%= @genre.parent + " | " + @genre.subtype %></h1>
<table>
    <tr>
	<th>ID</th>
	<th>Name</th>
	<th>Score</th>
    </tr>
    <% @users.zip(@touches).each do |u,t| %>
	<tr>
	    <td><%= u.id %></td>
	    <td><%= u.name %></td>
	    <td><%= t.score %></td>
	</tr>
    <% end  %>
</table>
<%= link_to "back to " + @genre.parent, "/genre/" + @genre.parent  %>
</div>
	    
	   
