<% provide(:title,@user.name) %>
<h2> Your Total Score: <%= @user.score %></h2>
<h1>
    Scores for <%= @user.name %>
</h1>
<table>
    <tr>
	<th>Topic</th>
	<th>Subtopic</th>
	<th>Score</th>
    </tr>
    <% @touch.zip(@genres).each do |t,g| %>
	<tr>
	    <td><%= g.parent %></td>
	    <td><%= g.subtype%></td>
	    <td><%= t.score %></td>
	</tr>
    <% end %>
</table>
