<%  provide(:title,@topic) %>
<h2>Genre</h2>
<ul>
<% @parent.each do |p| %>
    <li><%= link_to p, "/genre/" + p %></li>
<% end  %>
</ul>
<div id="center">
<h1><%= @topic %></h1>
<ul>
    <% @genre.each do |g| %>
	<li><%= link_to g.subtype, "/scores/" + g.id.to_s %></li>
    <% end %>
</ul>
</div>
<div >
<h1>Score for <%= @topic %></h1>
<table>
    <tr>
	<th>ID</th>
	<th>Name</th>
	<th>Score</th>
    </tr>
    <% @sum_by_user.each do |s| %>
	<tr>
	    <td><%= s[:user_id][:id] %></td>
	    <td><%= s[:user_id][:name] %></td>
	    <td><%= s[:score] %></td>
	</tr>
    <% end  %>
</table>
<%= link_to "Back to Total Scores" , "/scores" %>
</div>
