<% provide(:title, @genre.parent + " | "  + @genre.subtype) %>
<h2><%= @genre.parent %></h2>

<div style="float:right" >
    <h2>Score: <%= @touches.score%></h2>

<%= form_for(@touch, url: retake_path) do |f| %>
    <%= render 'shared/error_messages' %>
    
    <p style="display:none"><%= f.select :genre_id, [@touches.genre_id] %></p>
    <p style="display:none"><%= f.select :user_id, [@touches.user_id] %></p>
    <%= f.submit "Retake Quiz", class: "btn btn-primary" %>
<% end %>  
</div>


<ul>
    <% @topics.each do |t| %>
	<li><%= link_to t.subtype, "/" + @genre.parent + "/" + t.subtype%></li>
    <% end  %>
</ul>
<script>
 var func = function() {
     document.getElementById("questions_single").style.display = "block";
     document.getElementById("questions_multiple").style.display = "none";
     document.getElementById("hide").style.backgroundColor = "blue";
     document.getElementById("hide2").style.backgroundColor = "grey";
 }
 var func2 = function() {
     document.getElementById("questions_single").style.display = "none";
     document.getElementById("questions_multiple").style.display = "block";
     document.getElementById("hide").style.backgroundColor = "grey";
     document.getElementById("hide2").style.backgroundColor = "blue";
 }
 
</script>
<div id="center4" >
<ul>
    <li onclick="func()" id="hide">SingleAnswer Type</li>
    <li onclick="func2()" id="hide2">MultipleAnswer Type</li>
</ul>
</div>
<div id="center" >
    <div id="questions_single">
	<h1>Questions under <%= @genre.subtype %></h1>
<ul >
	<% @single_answers.zip(@marked_single).each do |t,m| %>
	    <p class="<%= m -%>"><%= t.question %></p>
	    <%= form_for(@single_choices, url: updateScore_path) do |f| %>
		<%= render 'shared/error_messages' %>

		<img id="<%= "s_" + t.id.to_s %>" src="" width=420/>
		<br/>
		<script>
		 url = "<%=t.url %>";
		 if( url.match(/\.(jpeg|jpg|gif|png)$/) != null ){
		     document.getElementById('s_' + "<%= t.id.to_s %>").src = "<%=t.url %>";
		 }		 
		 else if(  url.match(/\.(flac|ogg|mp3|wav)$/) != null ){
		     document.getElementById('sa_' + "<%= t.id.to_s %>").src = "<%=t.url %>";
		     document.getElementById('sa_' + "<%= t.id.to_s %>").type = "<%=t.url %>".split('.').pop();
		 }
		 
		</script>

		<%= f.label :your_answer %>
		<%= f.select :answer, [t.option1, t.option2, t.option3, t.option4]  %>
		
		<p style="display:none"><%= f.select :single_answer_id, [t.id] %></p>
		<p style="display:none"><%= f.select :touch_id, [@touches.id] %></p>
		<%= f.submit "Submit", class: "btn btn-primary" %>
	    <% end %>  
	<% end %>
	</li>
</ul>
    </div>
    <div id="questions_multiple">
	<h1>Questions under <%= @genre.subtype %></h1>
	<ul >
	    <% @multiple_answers.zip(@marked_multiple).each do |t,v| %>
		<li><p class="<%= v -%>"><%= t.question %></p>
		    <%= form_for(@multiple_choices, url: updateMultipleScore_path) do |f| %>
			<%= render 'shared/error_messages' %>
			<img id="<%= "m_" + t.id.to_s %>" src=""/>
		<br/>
		<script>
		 url = "<%=t.url %>";
		 if( url.match(/\.(jpeg|jpg|gif|png)$/) != null ){
		     document.getElementById('m_' + "<%= t.id.to_s %>").src = "<%=t.url %>";   
		 }
		 else if(  url.match(/\.(flac|ogg|mp3|wav)$/) != null ){
		     document.getElementById('ma_' + "<%= t.id.to_s %>").src = "<%=t.url %>";
		     document.getElementById('ma_' + "<%= t.id.to_s %>").type = "<%=t.url %>".split('.').pop();
}
   
		     
		</script>
		
		<%= t.option1 %><div style="float=right">
		<%= f.radio_button :answer1, true, :checked => true, class: 'form-control' %>Yes
		<%= f.radio_button :answer1, false,  class: 'form-control'%>No
		</div>
		<br />
		<%= t.option2 %><div style="float=right">
		    <%= f.radio_button :answer2, true, :checked => true, class: 'form-control' %>Yes
		    <%= f.radio_button :answer2, false,  class: 'form-control'%>No
		</div> <br />
		<%= t.option3 %><div style="float=right">
		    <%= f.radio_button :answer3, true, :checked => true, class: 'form-control' %>Yes
		    <%= f.radio_button :answer3, false,  class: 'form-control'%>No
		</div> <br />
		<%= t.option4 %><div style="float=right">
		    <%= f.radio_button :answer4, true, :checked => true, class: 'form-control' %>Yes
		    <%= f.radio_button :answer4, false,  class: 'form-control'%>No
		</div>
		
		<p style="display:none"><%= f.select :multiple_answer_id, [t.id] %></p>
		<p style="display:none"><%= f.select :touch_id, [@touches.id] %></p>
		<%= f.submit "Submit", class: "btn btn-primary" %>
	    <% end %>  
    <% end %>
	</li>
</ul>
</div>
<%= link_to "Back to Genres", "/genres" %>
</div>

</div>

<script>
    func();
</script>
